body {
  font: normal normal 14px/22px 'Helvetica';
  color: #555;
  margin: 0px auto;
  max-width: 800px;
}

#main h1 {
  font-size: 36px;
  padding: 10px;
  font-weight: 400;
}

#main h2 {
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

#main {
  text-align: center;
}

#movies {
  display: flex;
  justify-content: space-between;
  width: 800px;
  flex-wrap: wrap;
}

.movieCard {
  background-color: #eee;
  width: 380px;
  padding: 0px 30px;
  margin: 20px 0px;
  box-sizing: border-box;
}

#movies > div img {
  width: 100%;
  height: auto;
}